/* Make the body fill the screen and center the content */
body {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; 
  margin: 0; /* Remove default margin */
  background-color: #f4f4f4; /* Optional: change background color */
  
}

/* Auth Container */
.login {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  height: 100%;
  min-height: 50vh;
  
}

/* Heading */
h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Input Styles */
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: black;
  outline: none;
}

/* Button Styles */
button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: red;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

button[type="submit"]:hover {
  color: black;
}

/* Toggle button */
button[type="submit"] {
  margin-top: 15px;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 10px;
  
}

h1 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 30px;
}

.button-row {
  display: flex;
  gap: 10px; /* Space between buttons */
  justify-content: center;
  margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 480px) {
  .login {
    padding: 20px;
    width: 90%;
  }
}
